.Card-body{
    padding: 2rem 2rem;
    background-color: white;
    border-radius: 10px;
    height: 100%;
    max-height: 500px;
    box-shadow: 0px 15px 20px rgba(150, 50, 85, 0.1);
    margin-bottom: 100px;
    transition: transform .3s ease-out;
}

.Card-title{
    color: #BE5A78;
    font-weight: 800;
    font-size: 1.5rem;
}

.Card-img{
    width: 185px;
    padding: 1rem;
}

  .Card-body:hover {
    transform: translate(0, -5px);
    cursor: pointer;
    box-shadow: 0px 15px 20px rgba(150, 50, 85, 0.05);
  }