.Tradition-overlay{
    background-color: rgba(255, 255, 255, 0.85);
    width: 100%;
    min-height: 100vh;
    padding: 2rem 1rem 3rem 1rem;
}

.Tradition-icon{
    height: 50px;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.Tradition-quote{
    font-weight: bold;
    font-size: 2rem;
    line-height: 3.5rem;
    margin-bottom: 2rem;
    color: #B44367;
}

.Tradition-source{
    font-weight: 600;
    color: #9e2d52;
    font-size: 1rem;
    margin: 2rem 0rem 3rem 0rem;
}

.Tradition-button{
    border-radius: 100rem;
    margin: 1rem 1rem;
    border: 3px solid #1e1cb9;
    background-color: #1e1cb9;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    font-weight: 600;
    color: white;
}

.Tradition-repeat-button{
    border-radius: 100rem;
    margin: 1rem 1rem;
    border: 3px solid #9e2d52;
    background-color: transparent;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    font-weight: 600;
    color: #9e2d52;
}